*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    height: 80px;
    background-color: #222;
}

.logo {
    height:80px;
    float: left;
}

.text-logo {
    color: #fff;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 32px; 
    font-weight: bold;
}

.header-menu {
    float: right;
    text-align: center;
    padding: 27px 0;
}

.opations {
    color: #fff;
    padding: 0 25px;
    text-decoration: none;
    font-size: 12.5px; 
    font-weight: bold;
}

.menu-icon {
    display: none;
    float: right;
    text-align: center;
    padding: 27px 25px;
    color: #fff;
    text-decoration: none;
    font-size: 30px; 
    cursor: pointer;
}

.closebtn {
    display: none;;
    color: #fff;
    padding: 0 25px;
    text-decoration: none;
    font-size: 30px; 
}

.left-sidebar {
    height: 688px;
    width: 0;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #222;
    transition: 0.5s;
    padding-top: 60px;
    overflow: scroll;
}

.left-sidebar-items {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12.5px;
    font-weight: bold;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.left-sidebar-items:hover {
    color: #aaa;
}

.left-sidebar .left-closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.left-closebtn  {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.left-openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: #fff;
    padding: 10px 15px;
    border: none;
    float:left;
    margin-top: 15px;
}

.left-openbtn:hover {
    background-color: #444;
}

#mainContent {
    transition: margin-left .5s;
     padding: 16px;
     display: flow-root;
}

.menu-items {
    background-color: #222;
    border: none;
}

.menu-items:active .menu-items:hover .menu-items:focus {
    border: none;
}

.dropdown-container {
    display: none;
}

.dropdown-container {
    margin-left: 10%;
}

.left-sidebar-item {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12.5px;
    font-weight: bold;
    color: #888;
    display: block;
    transition: 0.3s;
}

.left-sidebar-item:hover {
    color: #444;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-icon {
        display: block;
    }
     
    .closebtn {
        display: block;
        color: #fff;
    }

    .opations {
        display: none;
        padding: 30px 0;
        text-decoration: none;
        font-size: 12.5px;
        color: #fff;
        display: block;
        transition: 0.3s;
        
    }

    .header-menu {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align:center;
    }

    .header-menu .closebtn {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
}

@media screen and (max-width:767px) {
    .text-logo {
        font-size: 25px;
        padding: 27px 25px;
    }

    .menu-icon {
        display: block;
    }
     
    .closebtn {
        display: block;
        color: #fff;
    }

    .left-openbtn {
        float: none;
        margin-left: 15px;
    }

    .opations {
        display: none;
        padding: 20px 0;
        text-decoration: none;
        font-size: 12.5px;
        color: #fff;
        display: block;
        transition: 0.3s;
        
    }

    .header-menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align:center;
    }

    .header-menu .closebtn {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

    .mystyle {
        width: 100% !important;
    }
}